.dropdown {
    position: relative;
    display: block;
    width: 10%;
}
.dropdown-content {
    position: absolute;
    display: none;
    color: black;
    width: fit-content;
    min-width: 100px;
    z-index: 1;
    top: 90%;
    left: 0;
    border: 1px solid rgb(150, 150, 150);
    box-shadow: 3px 3px 2px rgb(150,150,150);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inherit;
    left: inherit;
    right: inherit;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: lightblue;
}
.dropdown:hover .dropdown-content {
    display: inline-block;
}
.drop-main {
    left: 2%;
    top: 5px;
}
.main-content {
    left: 0%;
}
.drop-announcement {
    right: 2%;
    top: 0px;
}
.announcement-content {
    left: 0%;
}
.fa-bars {
    padding: 2px;
    color: rgb(61, 93, 79);
    border: none;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
}
.fa-bullhorn {
    right: inherit;
    padding: 2px;
    color: rgb(61, 93, 79);
    border: none;
    background-color: white;
    position: fixed;
    border-radius: 15px;
    text-decoration: none;
    z-index: 1;
}
