.dropdown {
    position: relative;
    width: 100%;
}

.fa-bars {
    padding: 2px;
    color: rgb(61, 93, 79);
    border: none;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
}
.fa-bullhorn {
    right: inherit;
    padding: 2px;
    color: rgb(61, 93, 79);
    border: none;
    background-color: white;
    position: fixed;
    border-radius: 15px;
    text-decoration: none;
    z-index: 1;
}