html {
    scroll-behavior: smooth;
    height: 100%;
}
body {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: auto;
    cursor: cell;
    overflow: auto;
    height: 100%;
}
body.dark-mode {
    background-color: #333;
}
.content {
    height: 200%;
}
.title {
    /*background-color: lightblue;*/
    /*border-radius: 15px;*/
    text-align: center;
    margin: 10px;
    font-size: 35px;
    font-family: papyrus;
    color: black;
}
body.dark-mode .title{
    color: #f5f5f5;
}
.top {
    position: -webkit-sticky;
    position: sticky;
    /*top: 5%;*/
    margin: 10;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
    color: lightblue;
    list-style-type: none;
    /*border-radius: 15px;*/
    z-index: 0;
}
body.dark-mode .top {
    background-color: black;
}
.gap {
    background: linear-gradient(180deg, lightblue, white)
}
body.dark-mode .gap {
    background: linear-gradient(180deg, black, #333)
}
#Table1 {
    font-family: arial, sans-serif;
    width: 40%;
    margin: 0px auto;
    border: rgb(227, 222, 222);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
td, th {
    color: rgb(102, 102, 102);
    border: 1px solid lightblue;
    text-align: left;
    padding: 8px;
}
/*ul :hover {
    background-color: white;
    color: black;
    width: 45%;
}*/
.games-played {
    width: 25%;
}
.percentage {
    width: 20%;
}
.table-names{
    border-radius: 5px;
    text-align: center;
    width: 30% 
}
#bteam {
    color: red;
}
#cteam {
    color: rgb(253, 253, 3);
}
#gteam {
    color: rgb(21, 120, 31);
}
#jteam {
    color: lightblue;
}
#pteam {
    color: green;
}
#rteam {
    color: purple;
}
#spteam {
    color: grey;
}
#tteam {
    color: rgb(0, 34, 255);
}
.no-right {
    border-right: none !important;
}
.no-left {
    border-left: none !important;
}
.centered {
    text-align: center !important;
    border-right: none !important;
    border-left: none !important;
}
.team-title {
    background-color: white;
    text-align: center;
    opacity: 0.8;
    margin: 5% auto auto auto;
    width: 60%;
    height: 65px;
    font-size: 50px;
}
.main {
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: blur(10px);
    margin: 5% auto auto auto;
    width: 30%;
    padding: 5px;
    border-radius: 5px;
    transition: 0.5s;
}
.main:hover {
    backdrop-filter: blur(20px);
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.main p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}
.L1 {
    font-size: 20px;
}    
#lead {
    background-color: red;
    border: 7px solid white;
    border-radius: 3px;
    color: white;
    padding: 30px;
    text-align: center;
    transition: transform 1s;
}
#lead:hover {
    transform: scale(1.3)
}
#info {
    border: 3px solid rgb(0, 0, 0);
    background-color: white;
    padding: 3px;
}
.next {
  position: absolute;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  position: fixed;
  right: 3%;
  bottom: 3%;
  background-color: lightblue;
  color: white;
}
.next:hover {
    background-color: rgb(200,200,200);
    color: black;
  }
.previous {
  position: absolute;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  position: fixed;
  left: 3%;
  bottom: 3%;
  background-color: lightblue;
  color: white;
}
.previous:hover {
    background-color: rgb(200,200,200);
    color: black;
  }
.round {
  border-radius: 50%;
}
      :root::-webkit-scrollbar{
        display: none;
      }

      :root {
        scrollbar-width: none;
        -ms-overflow-style: none;
      }
      .switch {
        position: fixed;
        display: inline-block;
        width: 60px;
        height: 34px;
      }
      
      /* Hide default HTML checkbox */
      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      
      input:checked + .slider {
        background-color: black;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px white;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
      
