html {
    scroll-behavior: smooth;
}
body {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: auto;
    cursor: cell;
}
.title {
    background-color: white;
    border-radius: 15px;
    color: rgb(61, 93, 79);
    text-align: center;
    margin: 10px;
    font-size: 35px;
    font-family: papyrus;
}

.top {
    background-color: white;
    list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-radius: 15px;
}
#Table1 {
    font-family: arial, sans-serif;
    width: 40%;
    margin: 0px auto;
    background-color: rgb(255, 255, 255);
    border: rgb(227, 222, 222);
    border-radius: 5px;
}
td, th {
    color: rgb(102, 102, 102);
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
ul :hover {
    background-color: white;
    color: black;
    width: 45%;
}
.games-played {
    width: 25%;
}
.percentage {
    width: 20%;
}
#Name1 {
    color: red;
    background-color: white;
    text-align: center;
    margin: 5% auto auto auto;
    width: 60%;
    height: 65px;
    font-size: 50px;
}
#Name2 {
    color: yellow;
    background-color: white;
    text-align: center;
    margin: 5% auto auto auto;
    width: 60%;
    height: 65px;
    font-size: 50px;
}
#Name3 {
    color: darkgreen;
    background-color: white;
    text-align: center;
    margin: 5% auto auto auto;
    width: 60%;
    height: 65px;
    font-size: 50px;
}
#Name4 {
    color: lightblue;
    background-color: white;
    text-align: center;
    margin: 5% auto auto auto;
    width: 60%;
    height: 65px;
    font-size: 50px;
}
#Name5 {
    color: green;
    background-color: white;
    text-align: center;
    margin: 5% auto auto auto;
    width: 60%;
    height: 65px;
    font-size: 50px;
}
#Name6 {
    color: purple;
    background-color: white;
    text-align: center;
    margin: 5% auto auto auto;
    width: 60%;
    height: 65px;
    font-size: 50px;
}
#Name7 {
    color: grey;
    background-color: white;
    text-align: center;
    margin: 5% auto auto auto;
    width: 60%;
    height: 65px;
    font-size: 50px;
}
#Name8 {
    color: blue;
    background-color: white;
    text-align: center;
    margin: 5% auto auto auto;
    width: 60%;
    height: 65px;
    font-size: 50px;
}
.main {
    background-color: white;
    color: black;
    border: 3px solid black;
    padding: 5px;
    border-radius: 15px;
    margin: 5% auto auto auto;
    width: 50%;
}
.L1 {
    font-size: 20px;
}    
#lead {
    background-color: red;
    border: 7px solid white;
    border-radius: 3px;
    color: white;
    padding: 30px;
    text-align: center;
    transition: transform 1s;
}
#lead:hover {
    transform: scale(1.3)
}
#bteam {
    color: red;
    border-radius: 5px;
    text-align: center;
    width: 30% 
}
#cteam {
    color: rgb(253, 253, 3);
    border-radius: 5px;
    text-align: center;
    width: 30% 
}
#gteam {
    color: rgb(21, 120, 31);
    border-radius: 5px;
    text-align: center;
    width: 30%
}
#jteam {
    color: lightblue;
    border-radius: 5px;
    text-align: center;
    width: 30%
}
#pteam {
    color: green;
    border-radius: 5px;
    text-align: center;
    width: 30%
}
#rteam {
    color: purple;
    border-radius: 5px;
    text-align: center;
    width: 30%
}
#spteam {
    color: grey;
    border-radius: 5px;
    text-align: center;
    width: 30%
}
#tteam {
    color: rgb(0, 34, 255);
    border-radius: 5px;
    text-align: center;
    width: 30%
}
#info {
    border: 3px solid rgb(0, 0, 0);
    background-color: white;
    padding: 3px;
}
.next {
  position: absolute;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  position: fixed;
  right: 3%;
  bottom: 3%;
  background-color: lightblue;
  color: white;
}
.next:hover {
    background-color: rgb(200,200,200);
    color: black;
  }
.previous {
  position: absolute;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  position: fixed;
  left: 3%;
  bottom: 3%;
  background-color: lightblue;
  color: white;
}
.previous:hover {
    background-color: rgb(200,200,200);
    color: black;
  }

.round {
  border-radius: 50%;
}