html {
    scroll-behaviour: smooth;
}

body {
    background-image: url("volleyball-league.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.title {
    position: sticky;
    background-color: white;
    color: rgb(85,130,160);
    width: 30%;
    align: center;
    text-align: center;
}
