html {
    scroll-behaviour: smooth;
}

body {
    background-image: url("volleyball-league.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.title {
    position: sticky;
    margin: auto;
    background-color: rgba(255,255,255, 0.2);
    color: rgb(85,130,160);
    width: 30%;
    text-align: center;
    border: none;
    border-radius: 10px;
}

.dropdown {
    position: absolute;
    left: 2%;
    top: 2%;
    color: rgb(85,130,160);
}
.drop-btn {
    background-color:rgb(255,255,255);
    width: 50px;
    height: 5%;
    color: black;
    border: none;
}
.drop-btn:hover {
    background-color: rgb(200,200,200);
}
.main_table {
    position: relative;
    width: 25%;
    margin: auto;
    padding: 10px;
    background-color: rgba(255,255,255, 0.6);
    border: 1px solid rgba(200,200,200, 0.7;
}
td, th {
}
